*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #da0026;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
 
 @font-face {
    font-family: menu;
    src: url(fuentes/Roboto-VariableFont_wdth\,wght.ttf);
 }

#encabezado{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#logo img{
  width: 150px;
  height: auto;
}

#indice{
  margin-left: -55px;
}

#indice ul{
  display: flex;
  list-style: none;
  gap: 55px;
}

#indice a{
  font-family: menu;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#botonindice{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#botonindice a{
    text-decoration: none;
    color: #da0026;
}

#botonindice:hover{
  background-color: white;
  color: #b2001f;
  transform: scale(1.05);
  
}

#iconos1{
  display: flex;
  align-items: center;
  gap: 35px;
  margin-right: 40px;
}

#iconos1 img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: brightness(0) invert(1) drop-shadow(0 0 2px white);
  transition: transform 0.2s;
}

#iconos1 img:hover{
  transform: scale(1.1);
}

/* contenido 2x1 */

#promociones{
  margin: 50px;
}

#promociones h2{
  color: black;
  text-align: center;
  font-family:contenido ;
  font-size: 30pt;
}

#contenido1{
  background-color: #b2001f;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 30px;
  padding-bottom: 25px;
  align-content:center ;
  overflow: hidden;
}

@font-face {
  font-family: texto;
  src: url(fuentes/Montserrat-VariableFont_wght.ttf);
}


@font-face {
    font-family: contenido;
    src: url(fuentes/Roboto-VariableFont_wdth\,wght.ttf);
 }

.imagen1 img{
  width: 100%;
  margin: 0;
  height: 788px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}

#control1{
  color: white;
  margin-left: 1100px;
}

#menos{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding:0px 10px;
  margin: 0 10px 0 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  font-size: 20pt;
}

#menos a{
    text-decoration: none;
    color: #da0026;
}

#menos:hover{
  background-color: white;
  color: #b2001f;
  transform: scale(1.05);
}

#mas{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 0 10px 0 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  font-size: 20pt;
}

#mas a{
    text-decoration: none;
    color: #da0026;
}

#mas:hover{
  background-color: white;
  color: #b2001f;
  transform: scale(1.05);
}

#carrito{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px 0 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#carrito a{
    text-decoration: none;
    color: #da0026;
}

#carrito:hover{
  background-color: white;
  color: #b2001f;
  transform: scale(1.05);
}

#carrito{
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#carrito a{
    text-decoration: none;
    color: #da0026;
}

#carrito:hover{
  background-color: white;
  color: #b2001f;
  transform: scale(1.05);
}

.precio{
  color: white;
  font-size: 20pt;
  font-family: texto;
}

.cantidad{
  color: white;
  font-size: 20pt;
  font-family: texto;
}


/* seccion promos y combos */

#contenido h3{
  color: white;
  margin-left: 20px;
}

.productos{
  display: flex;
  
  margin-left: 180px ;
  margin-right: 180px ;
}

#combos h2{
  color: black;
  text-align: justify;
  font-family:contenido ;
  font-size: 30pt;
  margin-left: 200px;
}

#producto1{
  background-color: #b2001f;
  border-radius: 35px;
  margin-left: 20px ;
  margin-right: 20px ;
}

.imagencombo1 img{
  width: 100%;
  margin: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}

#contenido1{
  background-color: #b2001f;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 30px;
  padding-bottom: 25px;
  align-content:center ;
  overflow: hidden;
}

#descripcion{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

#control2{
  text-align: end;
  margin-right: 10px;
}

/* footer */

footer{
  background-color: #da0026;
  color: white;
  padding: 40px 80px;
  font-family: menu;
}

#footer_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer_columnas{
  flex: 1;
  min-width: 200px;
  height: 300px;
  font-family: menu;
}

.footer_columnas h3{
  font-size: 20px;
  margin-bottom: 10px;
}

.footer_columnas li{
  margin-left: 5px;
  font-size: 14px;
  list-style: none;
}

.footer_columnas li a{
  margin-left: 5px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-family: menu;
  font-weight: bold;
}

#logopie{
  width: 140px;
}

h3{
  padding-top: 20px;
  font-family: menu;
}

#iconos2 a img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  filter: grayscale(100%);
  transition: 0.3s;
}

#iconos2 a img:hover{
  filter: grayscale(20%);
}

.footer_columnas:nth-child(4){
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pagos{
  display: flex;
  justify-content: center;
  gap: 18px;
}

#pagos img{
  width: 45px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
}

#app{
  display: flex;
  justify-content: center;
  gap: 8px;
}

#app img{
  width: 100px;
  background-color: aliceblue;
  border-radius: 8px;
}

p{
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-family: menu;
}